*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("sekolah.png");
}

.container1 {
    font-family: sans-serif;
    background-color: rgb(141, 144, 149);
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
}


.container1 h1 {
    text-align: left;
    margin-bottom: 3px;
    color: white;
    text-indent: 50px;
}

.container1 .header1{
    margin-top: -21px;
}

.form-group1 {
    text-indent: 50px;
    text-align: left;
    margin-bottom: 3px;
}
.form-group1 a{
    color: white;
    text-decoration: none;
    font-family:  Footlight MT Light;
}


.form-group2{
    font-size: 14px;
    text-indent: 50px;
    color: white;
    text-decoration: none;
}


.container2 {
    background-color: rgb(37, 48, 74);
    width: 100%;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-radius: 10px; */
    margin-top: -16px;
}

.container2 nav{
    float: left;
}

.container2 nav ul{
    margin: -8px;
    padding: 0;
    display: flex;
    
}

.container2 nav ul li{
    list-style: none;
    text-indent: 10px;
}

.container2 nav ul li a{
    display: inline-block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

form{
    width: 150px;
    float: right;
    outline: none;
    border: none;
    padding: 0px;
    margin-top: -8px;
    margin-right: 40px;   
}

form .search{
    padding-left: 10px;
    font-style: italic;
    font-family:  Footlight MT Light;
}

.berita{
    width: 50%;
    margin-left: 300px;
    margin-top: 60px;
    background: gray;
    border-collapse: collapse;
}

.berita tr th {
    font-size: 28px;
    text-align: center;
    background:  rgb(37, 48, 74);
    font-family:  Footlight MT Light;
    color: white;
}

.berita tr{
    height: 40px;
}

.berita tr #isi{
    margin-top: 10px;
    font-size: 17px;
    padding-left: 60px;
}

.select{
    width: 200px;
    height: 25px;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

textarea{
    width: 200px;
    height: 100px;
}

.kirim{
    width: 100px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

footer{
    background-color: rgb(37, 48, 74);
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    padding-top: 10px;  
}



.buttom{
    width: 100%;
    border: none;
    padding: 18px 8px;
    margin-top: -16px;
}

.buttom nav{
    float: right;
}

.buttom nav ul{
    margin: -8px;
    padding: 0;
    display: flex;
    
}

.buttom nav ul li{
    list-style: none;
    text-indent: 10px;
}

.buttom nav ul li a{
    display: inline-block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}


